<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src="~/img/1.jpg" alt="Alternate Text" class="card-img" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">Esaretin Bedeli</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p class="card-text">
                    <small class="text-muted">3 days ago</small>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src="~/img/1.jpg" alt="Alternate Text" class="card-img" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">Esaretin Bedeli</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p class="card-text">
                    <small class="text-muted">3 days ago</small>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src="~/img/1.jpg" alt="Alternate Text" class="card-img" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">Esaretin Bedeli</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p class="card-text">
                    <small class="text-muted">3 days ago</small>
                </p>
            </div>
        </div>
    </div>
</div>